.box{
  padding: 30px;
  display: flex;
  background-color: cadetblue;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}
.box2{
  color: aqua;
  background-color: aquamarine;
  font-style: italic;
}
